*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{
    background:#0f172a;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.container{
    text-align:center;
    color:white;
}

h1{
    margin-bottom:20px;
}

#status{
    font-size:22px;
    margin-bottom:20px;
}

.board{
    display:grid;
    grid-template-columns:repeat(3,100px);
    gap:5px;
    justify-content:center;
}

.cell{
    width:100px;
    height:100px;
    background:white;
    color:black;
    font-size:40px;
    display:flex;
    justify-content:center;
    align-items:center;
    cursor:pointer;
}

button{
    margin-top:20px;
    padding:10px 20px;
    border:none;
    background:#22c55e;
    color:white;
    cursor:pointer;
    border-radius:5px;
}